<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>top</title>
	<style>
		*{
			font-family: 微软雅黑;
		}
		body{
			background: #272822;
			color:#fff;
			overflow: hidden;
			cursor: pointer;
		}
		h1{
			margin-left: 70px;
			display: inline-block;
		}
		h3{
			display: inline-block;
			float: right;
			margin-right: 30px
		}
		h3:hover {
			color: red
		}
		a{
			text-decoration: none;
			color: white;
		}
	</style>
</head>
<body>
	<h1><a href="right.html" target="right">欢迎登录学习交流平台后台!</a></h1>
	<h3>欢迎XXX</h3>
    <span style="clear: both;"></span>
</body>
</html>