<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>add</title>
	<link rel="stylesheet" href="__STATIC__/public/bs/css/bootstrap.min.css">
</head>
<body>
	<div class="container" style="margin-top: 80px">
		<form action="{:url('insert')}" method='post'>
			<label><p>栏目名称:</p></label>
			<p><input type="text" class="form-control" required name='barname'></p>
			<input type="submit" class="btn btn-primary" value="添加">
					<input type="reset" class='btn btn-danger'>
		</form>		
	</div>
	
</body>
</html>