<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>edit</title>
	<link rel="stylesheet" href="__STATIC__/public/bs/css/bootstrap.min.css">
</head>
<body>
	<div class="container" style="margin-top: 80px">
		<form action="{:url('update')}" method='post'>
			 <label><h3><a>网站公告:</a></h3></label>
	       <p><textarea name="content" class="form-control" required rows="7" style="resize:vertical;">{$notice['content']}</textarea></p>
	      <div class="form-group">
	        <input type="hidden" name="id" value="{$notice['id']}">
	        <input type="submit" class="btn btn-primary" value="修改">
	        <input type="reset" class='btn btn-danger'>
	      </div>
		</form>		
	</div>
</body>
</html>