<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>edit</title>
	<link rel="stylesheet" href="__STATIC__/public/bs/css/bootstrap.min.css">
</head>
<body>
	<div class="container" style="margin-top: 80px">
		<form action="{:url('update')}" method='post'>
			<p>用户名:</p>
				<p><input type="text" class="form-control" name='username' required value="{$user['username']}"></p>

				<p>密码:</p>
				<p><input type="password" class="form-control" name='password' required value="***"></p>

				<input type="hidden" name="id" value="{$user['id']}">	
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="修改">
					<input type="reset" class='btn btn-danger'>
				</div>			
		</form>		
	</div>
</body>
</html>